/_proj/Logs
/_proj/Packages
/_proj/Temp
/_proj/_proj.sln
/_proj/Unity.CollabProxy.Editor.csproj
/_proj/Unity.Rider.Editor.csproj
/_proj/Unity.TextMeshPro.csproj
/_proj/Unity.TextMeshPro.Editor.csproj
/_proj/Unity.Timeline.csproj
/_proj/Unity.Timeline.Editor.csproj
/_proj/Unity.VisualStudio.Editor.csproj
/_proj/Unity.VSCode.Editor.csproj
/_proj/UnityEditor.TestRunner.csproj
/_proj/UnityEditor.UI.csproj
/_proj/UnityEngine.TestRunner.csproj
/_proj/UnityEngine.UI.csproj
/_proj/.vscode
/_proj/Library
/_proj/obj
/_proj/Assembly-CSharp-Editor.csproj
/_proj/Unity.Mathematics.csproj
/_proj/Unity.Mathematics.Editor.csproj
/_proj/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
/_proj/Unity.RenderPipelines.Core.Editor.csproj
/_proj/Unity.RenderPipelines.Core.Runtime.csproj
/_proj/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/_proj/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/_proj/Unity.RenderPipelines.Universal.Editor.csproj
/_proj/Unity.RenderPipelines.Universal.Runtime.csproj
/_proj/Unity.RenderPipelines.Universal.Shaders.csproj
/_proj/Unity.Searcher.Editor.csproj
/_proj/Unity.ShaderGraph.Editor.csproj
/_proj/Unity.ShaderGraph.Utilities.csproj
/_proj/Assembly-CSharp.csproj
_proj/Assembly-CSharp.csproj
_proj/Assembly-CSharp.csproj
_proj/Assembly-CSharp.csproj
_proj/Assembly-CSharp.csproj
