/m_urp_2020.3.4f1_proj/Library
/m_urp_2020.3.4f1_proj/Logs
/m_urp_2020.3.4f1_proj/*.csproj
/m_urp_2020.3.4f1_proj/obj
/m_urp_2020.3.4f1_proj/.vscode
/m_urp_2020.3.4f1_proj/Temp
/m_urp_2020.3.4f1_proj/*.sln
*.csproj
*.sln
*.csproj
/m_urp_2020.3.4f1_proj/UserSettings
m_urp_2020.3.4f1_proj/.idea
*.csproj
m_urp_2020.3.4f1_proj/Unity.EditorCoroutines.Editor.csproj
m_urp_2020.3.4f1_proj/Unity.UPA.Editor.csproj
m_urp_2020.3.4f1_proj/Unity.UPA.Runtime.csproj
m_urp_2020.3.4f1_proj/UserSettings/EditorUserSettings.asset
