/_proj/Logs
/_proj/Packages
/_proj/Temp
/_proj/_proj.sln
/_proj/Unity.CollabProxy.Editor.csproj
/_proj/Unity.Rider.Editor.csproj
/_proj/Unity.TextMeshPro.csproj
/_proj/Unity.TextMeshPro.Editor.csproj
/_proj/Unity.Timeline.csproj
/_proj/Unity.Timeline.Editor.csproj
/_proj/Unity.VisualStudio.Editor.csproj
/_proj/Unity.VSCode.Editor.csproj
/_proj/UnityEditor.TestRunner.csproj
/_proj/UnityEditor.UI.csproj
/_proj/UnityEngine.TestRunner.csproj
/_proj/UnityEngine.UI.csproj
/_proj/.vscode
/_proj/Library
/_proj/obj
/_proj/Assembly-CSharp-Editor.csproj
/_proj/Unity.Mathematics.csproj
/_proj/Unity.Mathematics.Editor.csproj
/_proj/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
/_proj/Unity.RenderPipelines.Core.Editor.csproj
/_proj/Unity.RenderPipelines.Core.Runtime.csproj
/_proj/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/_proj/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/_proj/Unity.RenderPipelines.Universal.Editor.csproj
/_proj/Unity.RenderPipelines.Universal.Runtime.csproj
/_proj/Unity.RenderPipelines.Universal.Shaders.csproj
/_proj/Unity.Searcher.Editor.csproj
/_proj/Unity.ShaderGraph.Editor.csproj
/_proj/Unity.ShaderGraph.Utilities.csproj
/_proj/Assembly-CSharp.csproj
_proj/Assembly-CSharp.csproj
_proj/Assembly-CSharp.csproj
_proj/Assembly-CSharp.csproj
_proj/Assembly-CSharp.csproj
/2018.4.3.0f1/Library
/2018.4.3.0f1/Logs
/2018.4.3.0f1/Packages
/2018.4.3.0f1/Temp
_proj/AmplifyShaderEditor.csproj
/m_urp_2020.3.4f1_proj/Unity.TextMeshPro.csproj
/m_urp_2020.3.4f1_proj/Unity.TextMeshPro.Editor.csproj
/m_urp_2020.3.4f1_proj/Unity.Timeline.csproj
/m_urp_2020.3.4f1_proj/Unity.Timeline.Editor.csproj
/m_urp_2020.3.4f1_proj/Unity.VisualStudio.Editor.csproj
/m_urp_2020.3.4f1_proj/Unity.VSCode.Editor.csproj
/m_urp_2020.3.4f1_proj/UnityEditor.TestRunner.csproj
/m_urp_2020.3.4f1_proj/UnityEditor.UI.csproj
/m_urp_2020.3.4f1_proj/UnityEngine.TestRunner.csproj
/m_urp_2020.3.4f1_proj/UnityEngine.UI.csproj
/m_urp_2020.3.4f1_proj/AmplifyShaderEditor.csproj
/m_urp_2020.3.4f1_proj/Assembly-CSharp.csproj
/m_urp_2020.3.4f1_proj/Assembly-CSharp-Editor.csproj
/m_urp_2020.3.4f1_proj/m_urp_2020.3.4f1_proj.sln
/m_urp_2020.3.4f1_proj/Unity.CollabProxy.Editor.csproj
/m_urp_2020.3.4f1_proj/Unity.Mathematics.csproj
/m_urp_2020.3.4f1_proj/Unity.Mathematics.Editor.csproj
/m_urp_2020.3.4f1_proj/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
/m_urp_2020.3.4f1_proj/Unity.RenderPipelines.Core.Editor.csproj
/m_urp_2020.3.4f1_proj/Unity.RenderPipelines.Core.Runtime.csproj
/m_urp_2020.3.4f1_proj/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/m_urp_2020.3.4f1_proj/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/m_urp_2020.3.4f1_proj/Unity.RenderPipelines.Universal.Editor.csproj
/m_urp_2020.3.4f1_proj/Unity.RenderPipelines.Universal.Runtime.csproj
/m_urp_2020.3.4f1_proj/Unity.RenderPipelines.Universal.Shaders.csproj
/m_urp_2020.3.4f1_proj/Unity.Rider.Editor.csproj
/m_urp_2020.3.4f1_proj/Unity.Searcher.Editor.csproj
/m_urp_2020.3.4f1_proj/Unity.ShaderGraph.Editor.csproj
/m_urp_2020.3.4f1_proj/Unity.ShaderGraph.Utilities.csproj
/m_urp_2020.3.4f1_proj/Library
/m_urp_2020.3.4f1_proj/Logs
/m_urp_2020.3.4f1_proj/ProjectSettings
/m_urp_2020.3.4f1_proj/Temp
/m_urp_2020.3.4f1_proj/UserSettings
/m_urp_2020.3.4f1_proj/.vscode
